{% extends "base.html" %}
{% import "macros/utilities/images.html" as images %}
{% import "macros/utilities/menus.html" as menus %}


{%- block title -%}{{ config.title | safe }}{%- endblock title -%}


{%- block head -%}
  {{ head::head(page = section) }}
{%- endblock head -%}


{%- block sidebar -%}
  {{ sidebar::sidebar(type = "section") }}
{%- endblock sidebar -%}


{%- block header -%}
  {{ header::header(page = section, type = "section") }}
{%- endblock header -%}


{%- block content -%}
  <main class="container">
    <div class="row justify-content-center mt-5 mb-3">
      <div class="col-auto">
        <div class="index-avatar border border-3 rounded-circle">
          {{ images::get_avatar() }}
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-11 col-sm-8 col-md-7 col-xl-6 text-center">  
        <div class="mb-1">
            <a
              href="{{ config.extra.social.author_link | safe }}"
              target="_blank"
              rel="noopener noreferrer"
              class="text-decoration-none"
            >
                <h1 class="fs-3">{{ config.title | safe }}</h1>
            </a>
        </div>
        <div class="fs-6 fw-light mb-2">
            {{ config.description | safe }}
        </div>
        <div class="row justify-content-center fs-4">
          {{ menus::social_links() }}
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-11 col-lg-10 col-xxl-9">
        {{ section.content | safe }}
      </div>
    </div>
  </main>
{%- endblock content -%}

