{% extends "base.html" %}
{% import "macros/utilities/images.html" as images %}


{%- block title -%}
  {{ page.title | safe }} - {{ config.title | safe }}
{%- endblock title -%}


{%- block head -%}
  {{ head::head(page = page) }}
{%- endblock head -%}


{%- block sidebar -%}
  {{ sidebar::sidebar(type = "section") }}
{%- endblock sidebar -%}


{%- block header -%}
  {{ header::header(page = page, type = "section") }}
{%- endblock header -%}


{%- block content -%}
  <main class="container">
    <div class="row justify-content-center mt-5 mb-5">
      <div class="col-11 col-lg-10 col-xxl-9">
        <h1 class="mb-4 display-4">
          {{ page.title | safe }}
        </h1>
        {{ page.content | safe }}
      </div>
    </div>
  </main>
{%- endblock content -%}
