{% extends "base.html" %}


{%- block title -%}
  {{ config.title | safe }} - {{ taxonomy.name | safe }}
{%- endblock title -%}


{%- block sidebar -%}
  {{ sidebar::sidebar(type = "section") }}
{%- endblock sidebar -%}


{%- block header -%}
  {{ header::header(page = "null", type = "section") }}
{%- endblock header -%}


{%- block content -%}
  <main class="container">
    <div class="row justify-content-center mt-4 mb-4">
      <div class="col-11">
        <h1 class="mb-5 display-3">
          {{ taxonomy.name | safe }}
        </h1>
        {% for term in terms %}
          <a
            href="{{ term.permalink | safe }}"
            class="btn btn-taxonomy m-2 border text-decoration-none"
          >
            {{ term.name | safe }}
            <span class="badge ms-1 text-bg-dark">
              {{ term.pages | length }}
            </span>
          </a>
        {% endfor %}
        
      </div>
    </div>
  </main>
{%- endblock content -%}
